.column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color_label {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 1rem;

    font-weight: 500;
    color: white;
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
}